body {
  margin: 0;
  background-color: #F6EDEF;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ COLORS ~~~~~~~~~~~~~~~~~~~~~~~ */


.colors {
  color: #F6EDEF;
  color: #D1A6AC;
  color: #422226;
}
