.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }  

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~ */

.header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 55px;
}

.header a {
    text-decoration: none;
    color: #422226;
}

.header a:hover {
    color: #D1A6AC;
}

.logo-name {
  font-size: 1.8rem;
  color: #422226;
}

.logo-name:hover {
  color: #D1A6AC;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-text {
  font-size: 1.2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
  height: 100px;
  background-color: #422226;
  display: flex;
  justify-content: center;
  align-items: center;
}


.copyright-container {
  color: white;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~~~~~~~~~ */

.home-container {
  display: flex;
  width: 80%;
}

.home-img {
  width: 40%;
}

.home-text {
  color: #422226;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ COLORS ~~~~~~~~~~~~~~~~~~~~~~~ */

.about-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ COLORS ~~~~~~~~~~~~~~~~~~~~~~~ */


.colors {
  color: #F6EDEF;
  color: #D1A6AC;
  color: #422226;
}